
.chat-list-new-bg-container{
    background-color: #F9F9F9;
    flex-grow: 1;
}


.chatListNew-scroll-container{
    overflow-y: scroll;
    height: 60vh;
    padding: 8px;
}


@media screen and (max-width:431px) {
    .chatListNew-scroll-container{
        height: 40px;
        flex-grow: 1;
    }

    .chat-list-new-bg-container{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.guest-container{
    border-bottom: 1px solid #ccc;
    padding: 10px 0px 10px 16px;
}

.guest-head{
    margin: 0px;
    font-size: 18px;
}