.side-panel {
  width: 20%;
  background-color: yellowgreen;
}

.main-container {
  display: flex;
  font-family: "Roboto";
  height: 100vh;
  width: 100%;
}

.right-side-con {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0;
  width: 80%;
}

.recent-user-con {
  display: flex;
}

.recent-user {
  margin-right: 20px;
  position: relative;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.bottom-con {
  display: flex;
  margin-top: 40px;
  width: 100%;
  overflow: hidden;
}

.user-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green-dot {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: green;
  bottom: 0px; 
  right: 0;
  text-align: right;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 25px;
    margin: 0px 20px;
    padding: 18px 20px;
    width: 55%;
}

.search-input {
    width: 100%;
    outline: none;
    border: none;
    background-color: #f9f9f9;
}

.new-chats-con {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 25px;
  padding: 11px 18px;
  margin: 0px;
}

.new-chat {
    font-family: "Roboto";
    color: #2b2b2b;
    font-weight: 500;
    font-size: 15px;
    margin: 0px;
}

.plus-icon {
  background-color: #fff;
  border-radius: 50%;
  padding: 8px 8px;
  margin-left: 30px;
  cursor: pointer;
}

.notification-icon-con {
  position: relative;
}

.notification-icon {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
}

.red-dot {
  position: absolute;
  top: 9px;
  right: 8px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
} 

.call-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 80vh;
  flex-grow: 1;
}

.image {
  width: 100%;
  height: 250px;
  object-fit: contain;
  margin-bottom: 15px;
}

.images-con {
  display: flex;
  flex-direction: column;
}

.call-controllers {
  display: flex;
  justify-content: center;
}

.calls {
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 100px;
}

.end-call {
  background-color: #EC4242;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 5px;
}

.three-dots { 
  width: 18px;
  height: 18px;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  border-bottom: #ccc 1px solid;
  padding: 15px 20px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  margin-left: 20px;
  width: 45%;
  position: relative;
  height: 80vh;
  flex-grow: 1;
}

.chat-icon {
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
}

.icon {
  width: 22px;
  height: 22px;
}

.icon-username {
  display: flex;
  align-items: center;
}

.user-time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.chat-username {
  color: #2b2b2b;
  font-weight: 600;
  margin: 0px;
  margin-bottom: 1px;
  font-size: 16px;
}

.minutes {
  font-size: 10px;
  margin: 0;
  margin-top: -2px;
  font-weight: 500;
  color: rgba(43, 43, 43, 0.6);
}

.chat-controllers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.chat-date {
  color: rgba(43, 43, 43, 0.6);
  font-size: 14px;
  line-height: 3;
  text-align: center;
}

.message {
  margin: 0px;
}

.message-1 {
  background-color: #ffffff;
  border-radius: 10px;
  border-bottom-left-radius: 2px;
}

.message-2 {
  background-color: #8f47ff;
  border-radius: 10px;
  border-bottom-right-radius: 2px;
}

.chat-container-2 {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
}

.chat-container-2::-webkit-scrollbar {
  display: none;
}

.msg-con {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.margin1 {
  margin-bottom: 20px;
}

.sender {
  font-size: 12px;
  line-height: 18px;
  color: #2b2b2b;
  align-self: flex-start;
  max-width: 65%;
}

.receiver {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  align-self: flex-end;
  max-width: 65%;
}

.margin2 {
  margin-bottom: 5px;
}

.profile {
    margin-right: 8px;
}

.profile-name {
  display: flex;
  align-items: center;
  padding-top: 6px;
  font-size: 11px;
}

.profile-name-receiver {
  justify-content: flex-end;
}

.chat-name {
  margin: 0;
  font-size: 10px;
  font-weight: 500;
  color: #2b2b2b;
}

.chat-date {
  color: rgba(43, 43, 43, 0.6);
  font-size: 14px;
  margin: 0;
}

.chat-time {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 9px;
  color: rgba(43, 43, 43, 0.6);
  margin: 3px 0 0 0;
}

.chat-img {
  width: 200px;
  object-fit: contain;
  padding: 3px;
  margin-bottom: -5px;
}

.arrow-container {
  position: relative;
}

.arrow-container {
  position: absolute;
  top: 50%;
  right: -14px;
  cursor: pointer;
}

.friends-container {
  width: 30%;
  height: 80vh;
  overflow-y: auto;
  transition: width 0.8s ease-in-out;
}

.friends-container.expanded {
  width: 6.4%;
  overflow-x: hidden;
}

.friends-container::-webkit-scrollbar {
  display: none;
}


.chats-arrow {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.chat-text {
  font-size: 15px;
  margin-right: 10px;
  font-weight: bold;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  list-style-type: none;
  padding: 15px 10px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-name-desc {
  margin-left: 22px;
}

.profile-name {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
}

.profile-description {
  margin: 0;
  margin-top: 6px;
  font-size: 11px;
  color: rgba(43, 43, 43, 0.6);
}

.profile-time {
  font-size: 10px;
  color: rgba(43, 43, 43, 0.9);
  font-weight: 600;
}

.active-user {
  background-color: hsl(342, 100%, 97%);
}

.send-msg-con-1 {
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.1);
}

.send-msg-con-2 {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  justify-content: space-between;
  padding: 10px 26px;
  border-radius: 25px;
}

.attach-type-con {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-send-message {
  background-color: transparent;
  margin-left: 5px;
  width: 100%;
  outline: none;
  border: none;
}

.accept-reject {
  display: flex;
  align-items: center;
}

.accept {
  background-color: #54EF0A;
  color: 2B2B2B;
  font-family: "Roboto";
  border: none;
  border-radius: 4px;
  padding: 8px 18px;
  margin-right: 5px;
  cursor: pointer;
  /* height: 38px;
  width: 101px; */
}

.reject {
  background-color: #E63946;
  color: #ffffff;
  font-family: "Roboto";
  border: none;
  border-radius: 4px;
  padding: 8px 18px;
  margin-left: 5px;
  cursor: pointer;
  /* height: 38px;
  width: 101px; */
}

.friend-profile {
  width: 100px;
}

.msg-seen {
  background-color:#8f47ff;
  border-radius: 50%;
  padding: 1.9px 2.6px 2.6px 1.9px;
  margin-left: 20px;
}

.msg-con-seen {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.msg-seen-icon-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badges-container {
  display: flex;
  align-items: center;
  width: 90px;
  justify-content: space-between;
}

.five-plus {
  margin: 0;
  margin-bottom: 2px;
  font-size: 12px;
}