.MuiDataGrid-root {
  border-radius: 5px; 
  border: 1px solid #ccc;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.15);
  padding: 0 0 21px;
  flex-grow: 0;
  margin: 0 25px 0 0;
  background-color: #fff;
  height:440px;
  width:100%;
}

.MuiDataGrid-headerContainer {
  background-color: #f5f5f5; 
}

.MuiDataGrid-cell {
  padding: 16px 8px; 
}


.MuiDataGrid-columnHeaders {
  font-weight: 500; 
  margin-bottom: 30px;
  margin-right: 63px;
  border:none;
  padding-left:53px;
  padding-right: 68px;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.15);
  width: 100%; 
  height: 70px;
  font-family: Inter;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  color: #2b2b2b;
  background-color:#f9fafe;
}
.MuiDataGrid-row {
  margin-left: 53px;
  width: 104px;
  height: 17px;
  flex-grow: 0;
  font-family: Inter;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #7c7b80;
}

.MuiDataGrid-actions {
  justify-content: space-between; 
}

.MuiButton-root {
  color: #272c34;
}


.billing-container{
  left: 30%;
  top: 15%;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border:none;
  width:100%;
  padding: 0px;

} 
.button{
  width: 83px;
  height: 40px;
  flex-grow: 0;
  margin: 39px 64px 0 796px;
  padding: 9px;
  border-radius: 5px;
  background-color: var(--electric-purple);
  font-family: Poppins,Arial;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}
.line{
  /* width: 858.1px; */
  height: 0.4px;
  flex-grow: 0;
  /* margin: 71.6px 47.4px 39.6px 37.5px; */
  transform: rotate(-360deg);
  background-color: rgba(0, 0, 0, 0.2);
}
.download-btn{
    font-family: Inter;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: #2b2b2b;
    width: 74px;
    height: 20px;
    flex-grow: 0;
    border-radius: 2px;
    background-color: #e3eefc;
    border:none;
}
