.video-call-interface-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  /* margin-left: 3rem; */
}

.video {
  width: 100%;
  /* width: 391px; */
  height: 229px;
  /* object-fit: contain; */
  border-radius: 5px;
}

.call-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}


.logo-float{
  position: absolute;
  bottom: 15px;
  right: 15px;
}


.vibe-logo-float{
  width: 80px;
}

.video-img-container{
  position: relative;
  margin-bottom: 10px;
}


@media screen and (max-width:431px) {
  .call-icons-container{
    flex-direction: column;
    margin-top: 80px;

  }

  .sm-lg-icon-video-call-container{
    display: none;
  }
}