.video-chat-bg-container{
    height: calc(100vh - 84px);
    padding:42px 0px;
    position: relative;
}

.video-right-container{
    padding: 0px 71px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
}


@media screen and (max-width:431px) {
    .video-right-container{
        padding: 0px 30px;
        gap: 1.5rem;
    }
}


.video-chat-new-container{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}


.call-icons-container-sm-lg {
    display: none;
}

.active-sm-lg-container{
    display: none;
}

.logo-sm-lg-container{
    display: none;
}

@media screen and (max-width:431px) {
    .logo-sm-lg-container{
        display: flex;
    }
    .active-sm-lg-container{
        display: flex;
    }
    .video-chat-new-container{
        flex-direction: column;
        align-items: center;
    }

    .sm-lg-icons-container{
        display: flex;
        /* align-items: center; */
    }

    .call-icons-container-sm-lg{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:769px) {
    .active-sm-lg-container {
            display: flex;
        }
}
