.sidebar-bg-container-2 {
    border-radius: 25px;
    height: 70vh;
    padding: 5px;
    margin: auto;
    width: 10px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #16172b;
}


@media screen and (max-width:431px)  {
    .sidebar-bg-container-2{
        width: 4px;
    }
}

.sidebar-bg-container-2 {
    position: fixed;
    left: 0;
    top: 50%;
    bottom: 50%;
    border-radius: 25px;
    height: 85vh;
    padding: 5px;
    margin: auto;
    z-index: 1;
  }