.sidebar-bg-container {
  width: 218px;
  min-width:15%;
  height: calc(100vh - 30px);
  /* margin: 0 15px 0 0; */
  /* width:15%; */
  height: calc(100vh - 30px);
  margin: 0 15px 0 0;
  padding:15px 12px 15px 28px;
  background-color: #16172b;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 0.9s ease-in-out;
}

.sidebar-bg-container.open{
  transform: translateX(0px);
}

.sidebar-bg-container.closed{
  transform: translateX(-235px);
}

::-webkit-scrollbar{
    height: 0px;
}

.sidebar-profile {
  width: 80px;
  height: 80px;
  flex-grow: 0;
  border: solid 2px #8f47ff;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.profile-container {
  position: relative;
}

.img-icon-container {
  width: 25px;
  height: 25px;
  flex-grow: 0;
  background-color: #8f47ff;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-name-head {
  /* height: 19px; */
  flex-grow: 0;
  margin: 14px 0 0 0;
  font-family: Poppins, Arial;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  text-align: left;
  color: #fff;
}

.side-bar-user-prof-text {
  font-family: Poppins, Arial;
  font-size: 12px;
  font-size: .6em;
  font-weight: normal;
  font-stretch: normal;
  /* line-height: 1.21; */
  margin-bottom: 15px;
  /* letter-spacing: -0.72px; */
  color: rgba(255, 255, 255, 0.8);
}

.mobile-number-text {
  margin: 0;
  margin-bottom: 2px;
  font-family: Poppins, Arial;
  font-size: 15px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  /* line-height: 1.21; */
  /* letter-spacing: -0.9px; */
  text-align: left;
  color: #fff;
}

.phone-text {
  margin: 0;
  font-family: Poppins, Arial;
  font-size: 12px;
  font-size: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  /* letter-spacing: -0.72px; */
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
}


.side-bar-icon-text-container{
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 20px;
    margin-bottom: 12px;
    /* cursor: pointer; */
}

.side-bar-top-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hr-line{
    width: calc(100% + 56px);
    margin-left: -28px;
    height:1px;
    background-color:#fff;
    border:none;
    margin-bottom: 29px;
}

.edit-button{
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.close-left-side-bar-button{
  background-color: transparent;
  padding: 0px;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 50%;
  cursor: pointer;
  /* right: -30px; */
}

.pointer{
  cursor: pointer;
}
